*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
	content: “”;
	display: table;
	clear: both;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box{
    width: 80%;
    margin: 0 auto;
}

.button{
    padding: 10px 20px;
    border-radius: 20px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: #23272a;
    color: white;
}

.blu{
    background-color: #8ea1e1;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* sezione nav */

header{
    background-color: #3161e0;
}

nav{
    height: 70px;
    padding-top: 5px;
}

.logo{
    padding-top: 15px;
    width: 15%;
}

.barra ul{
    width: 70%;
    text-align: center;
}

.barra ul li{
    padding: 20px;
    list-style-type: none;
    display: inline-block;
}

.barra ul li a{
    color: white;
}

#top{
    width: 15%;
    padding: 20px;
}

/* sezione jumbo */

#jumbo{
    min-height: 568px;
    margin-bottom: 70px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbo-text{
    text-align: center;
    color: white;
}

.jumbo-text p{
    font-size: 20px;
    margin-bottom: 30px;
}

.jumbo-text h1{
    font-size: 60px;
    padding: 40px;
}

.jumbo-text a{
    font-size: 20px;
    margin: 10px;
}

/* sezione main */

section{
    min-height: 500px;
}

.big img{
    max-width: 600px;
    margin: 50px 60px;
}

.right p, .left p{
    max-width: 300px;
}

.big-text{
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 60px;
}

.small-text{
    font-size: large;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 60px;
}

.wave{
    color: #f6f6f6;
}

.opp{
    transform: rotate(180deg);
}

.grey{
background-color: #f6f6f6;
min-height: 500px;
padding-bottom: 40px;
}

.align{
    text-align: center;
}

.inside-work{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

#full{
    min-width: 100%;
}

.back{
    height: 80px;
    width: 400px;
    margin: 40px auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.mid-text{
    text-align: center;
    font-size: x-large;
    line-height: 80px;
}

.container{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
}

/* inizio sezione footer */

footer{
    padding-top: 80px;
    background-color: #23272A;
    height: 80vh;
}

.footerone{
    height: 40vh;
    border-bottom: 2px solid #3161e0;
}

.color-diff p i{
    color: white;
}

.font-diff{
    font-size: xx-large;
    margin-bottom: 20px;
}

#share i{
    padding-top: 10px;
    padding-right: 10px;
}

li{
    list-style-type: none;
}

.bottom-list ul{
    float: right;
}

.bottom-list ul li{
    line-height: 20px;
    margin: 5px;
    margin-right: 50px;
}

.bottom-list ul li a{
    color: white;
}

.color-diff{
    color: #3161e0;
}