*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix::after{
	content: “”;
	display: table;
	clear: both;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box{
    width: 80%;
    margin: 0 auto;
}

.button{
    padding: 10px 20px;
    border-radius: 20px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: #23272a;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* sezione nav */

header{
    background-color: #3161e0;
}

nav{
    height: 70px;
}

.logo{
    vertical-align: center;
    padding: 20px;
    width: 15%;
}

.barra ul{
    width: 70%;
    text-align: center;
}

.barra ul li{
    padding: 20px;
    list-style-type: none;
    display: inline-block;
}

.barra ul li a{
    color: white;
}

#top{
    width: 15%;
    padding: 20px;
}

/* sezione jumbo */

#jumbo{
    min-height: 568px;
    margin-bottom: 70px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbo-text{
    text-align: center;
    color: white;
}

.jumbo-text p{
    font-size: 20px;
    margin-bottom: 30px;
}

.jumbo-text h1{
    font-size: 60px;
    padding: 40px;
}

.jumbo-text a{
    font-size: 20px;
    margin: 10px;
}

/* sezione main */

.left img{
    width: 80%;
    padding: 40px;
}



section{
    height: 60vh;
}
